{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        {{block "css" .}}

        {{end}}

    </head>
    <body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">GLS</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Equipment Offline</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/OfflineRTR" class="nav-link px-0"> <span class="d-none d-sm-inline">Router</span></a>
                                </li>
                                <li>
                                    <a href="/OfflineASTC" class="nav-link px-0"> <span class="d-none d-sm-inline">ASTC</span></a>
                                </li>
                                <li>
                                    <a href="/OfflineWAN2" class="nav-link px-0"> <span class="d-none d-sm-inline">WAN 2</span></a>
                                </li>
                                <li>
                                    <a href="/OfflineWAN3" class="nav-link px-0"> <span class="d-none d-sm-inline">WAN 3</span></a>
                                </li>
                                <li>
                                    <a href="/OfflineIPSEC" class="nav-link px-0"> <span class="d-none d-sm-inline">IPSEC Tunnel</span></a>
                                </li>
                            </ul>

                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Equipment Bouncing</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/BouncingRTR" class="nav-link px-0"> <span class="d-none d-sm-inline">Router</span></a>
                                </li>
                                <li>
                                    <a href="/BouncingASTC" class="nav-link px-0"> <span class="d-none d-sm-inline">ASTC</span></a>
                                </li>
                                <li>
                                    <a href="/BouncingWAN2" class="nav-link px-0"> <span class="d-none d-sm-inline">WAN 2</span></a>
                                </li>
                                <li>
                                    <a href="/BouncingWAN3" class="nav-link px-0"> <span class="d-none d-sm-inline">WAN 3</span></a>
                                </li>
                                <li>
                                    <a href="/BouncingIPSEC" class="nav-link px-0"> <span class="d-none d-sm-inline">IPSEC Tunnel</span></a>
                                </li>
                            </ul>

                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Equipment Restored</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/RestoredRTR" class="nav-link px-0"> <span class="d-none d-sm-inline">Router</span></a>
                                </li>
                                <li>
                                    <a href="/RestoredASTC" class="nav-link px-0"> <span class="d-none d-sm-inline">ASTC</span></a>
                                </li>
                                <li>
                                    <a href="/RestoredWAN2" class="nav-link px-0"> <span class="d-none d-sm-inline">WAN 2</span></a>
                                </li>
                                <li>
                                    <a href="/RestoredWAN3" class="nav-link px-0"> <span class="d-none d-sm-inline">WAN 3</span></a>
                                </li>
                                <li>
                                    <a href="/RestoredIPSEC" class="nav-link px-0"> <span class="d-none d-sm-inline">IPSEC Tunnel</span></a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col py-3">
                {{block "content" .}}

                {{end}}
            </div>
        </div>
    </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        {{block "js" .}}

        {{end}}
    </body>
    </html>
{{end}}