{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        {{block "css" .}}

        {{end}}

    </head>
    <body class="text-bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">GLS</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipment Offline
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/OfflineRTR">Router</a></li>
                            <li><a class="dropdown-item" href="/OfflineASTC">ASTC</a></li>
                            <li><a class="dropdown-item" href="/OfflineWAN2">WAN 2</a></li>
                            <li><a class="dropdown-item" href="/OfflineWAN3">WAN 3</a></li>
                            <li><a class="dropdown-item" href="/OfflineIPSEC">IPSEC Tunnel</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipment Bouncing
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/BouncingRTR">Router</a></li>
                            <li><a class="dropdown-item" href="/BouncingASTC">ASTC</a></li>
                            <li><a class="dropdown-item" href="/BouncingWAN2">WAN 2</a></li>
                            <li><a class="dropdown-item" href="/BouncingWAN3">WAN 3</a></li>
                            <li><a class="dropdown-item" href="/BouncingIPSEC">IPSEC Tunnel</a></li>
                            <li><a class="dropdown-item" href="/Wobbly">Wobbly Connection Alarm</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipment Restored
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/RestoredRTR">Router</a></li>
                            <li><a class="dropdown-item" href="/RestoredASTC">ASTC</a></li>
                            <li><a class="dropdown-item" href="/RestoredWAN2">WAN 2</a></li>
                            <li><a class="dropdown-item" href="/RestoredWAN3">WAN 3</a></li>
                            <li><a class="dropdown-item" href="/RestoredIPSEC">IPSEC Tunnel</a></li>
                            <li><a class="dropdown-item" href="/CPUClear">CPU</a></li>
                            <li><a class="dropdown-item" href="/TempClear">Temperature</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Misc
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/cpuAlarm">CPU Alarm</a></li>
                            <li><a class="dropdown-item" href="/tempAlarm">Temperature Alarm</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center pt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-bg-dark shadow">
                    <div class="card-body">
                        {{block "content" .}}

                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        {{block "js" .}}

        {{end}}
    </body>
    </html>
{{end}}