{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/PostBouncingWAN2" method="get">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupAlarm" placeholder="Alarm" name="Alarm">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupHex" placeholder="Hex ID" name="HexID">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupTicket" placeholder="Ticket Number" name="TicketNumber">
                    </div>
                    <div class="mb-3">
                        <textarea name="DRMInfo" id="formGroupDRM" placeholder="DRM Output" cols="70"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{{end}}
