{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/PostBouncingRTR" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Alarm</span>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="Alarm">
                        </div>
                    </div >
                    <div class="input-group mb-3">
                        <span class="input-group-text">HEX ID</span>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="HexID">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Ticket Number</span>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="TicketNumber">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{{end}}
