{{template "base" .}}
    {{define "content"}}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Instructions</h1>
                    <p class="text-center">Select your current issue from the drop-down menu "Issue" and fill out the relevant information.</p>
                    <p class="text-center">The GLS logo will lead you back to this page.</p>
                </div>
            </div>
        </div>
    {{end}}
