{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Instructions</h1>
            <p> Select your issue from the drop down menus. For example, if you have an offline router, click offline and then router.<br>
                                    Fill in the applicable information, click submit, and a template will be filled in with the appropriate information. <br>
                                    An email will be also be constructed, if applicable.
            </p>
        </div>
    </div>
</div>
{{end}}
