{{template "base" .}}
    {{define "content"}}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Instructions</h1>
                    <p class="text-center">Side bar contains list of issues. Click the issue and then select the equipment that <br>
                    is currently in alarm. For example, an offline router, click "offline" then "router" and fill out the <br>
                    relevant information. </p>
                </div>
            </div>
        </div>
    {{end}}
