{{template "base" .}}
{{define "content"}}
    <div class="container">

            <p>
                ===================== <br>
                GLS Alarm Information <br>
                \===================== <br>
                <br>
                Site Hard Down: Yes <br>
                <br>
                Equipment in Alarm: ASTC <br>
                <br>
                Current Alarm(s): {{.Alarm}} <br>
                <br>
                ================= <br>
                TMC Engaged: Yes <br>
                \================= <br>
                <br>
                TMC TT#: Pending <br>
                <br>
                TMC Email String: NYCDOT HEX {{.HexID}} | GLS TT#{{.TicketNumber}} | ASTC Offline<br>
                <br>
                ===================== <br>
                Current Actions Taken <br>
                \===================== <br>
                <br>
                ASTC is offline. I emailed TMC requesting they investigate. <br>
                <br>
                =========== <br>
                Next Action <br>
                \=========== <br>
                <br>
                Monitor the email string for updates. Request updates when necessary.
            </p>

        <hr class="border-5 border-top">
        <div class="row">
            <div class="col">
                <p>
                    Good evening,<br>
                    {{.HexID}} is showing an offline ASTC. Could you investigate and dispatch a tech if needed?
                </p>
            </div>
        </div>
    </div>
{{end}}