{{template "base" .}}
{{define "content"}}
    <div class="row">
        <div class="col">
            <p>
                =============== <br>
                DRM Information <br>
                \=============== <br>
                <br>
                <pre>{{.DRMInfo}}</pre>
                <br>
            </p>
        </div>
    </div>
{{end}}