{{template "base" .}}
{{define "content"}}
    <div class="container">

            <p>
                =============== <br>
                DRM Information <br>
                \=============== <br>
                <br>
                <pre>{{.DRMInfo}}</pre>
                <br>
                =====================<br>
                Current Actions Taken<br>
                \=====================<br>
                <br>
                Check Ethernet Settings: Y<br>
                Check Cellular Settings: Y<br>
                Check Cellular Issues: Y<br>
                Check IPsec Issues: Y<br>
                Check SCEP Issues: Y<br>
                Check Configuration Files: Y<br>
                Carrier Issues Found: Y<br>
                Has DOT performed a soft reboot: N<br>
            </p>

    </div>
{{end}}