{{template "base" .}}
{{define "content"}}
    <div class="container">
            <p>
                =============== <br>
                DRM Information <br>
                \=============== <br>
                <br>
                <pre>{{.DRMInfo}}</pre>
                <br>
            </p>

    </div>
{{end}}