{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/PostTMobileTemplate" method="post">
                    <div class="mb-3">
                        <textarea class="form-control"  id="formGroupDescription" placeholder="" name="Description">Connection went down, customer remotely rebooted the router and the connection went back offline.</textarea>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupICCID" placeholder="ICCID" name="ICCID">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupIMSI" placeholder="IMSI" name="IMSI">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupLastConnect" placeholder="Last Connection Date / Time" name="LastConnect">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupIssueStart" placeholder="Issue Start Date and Time" name="IssueStartDateTime">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupSignalStrength" placeholder="Signal Strength" name="SignalStrength">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupSignalQuality" placeholder="Signal Quality" name="SignalQuality">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupLatency" placeholder="Latency" name="Latency">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupTicket" placeholder="Ticket Number" name="TicketNumber">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control"  id="formGroupAddress" placeholder="Address" name="Address"></textarea>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="formGroupZipCode" placeholder="Zip code" name="ZipCode">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{{end}}